<section>
	<h1>Screen 1: Projects</h1>
	<div class="block-row">
		<div class="row"> 
			<p>Le Belhamy</p>
			<ul>
				<li><a href="#">Edit</a></li>
				<li><a href="#">Delete</a></li>
				<li><a href="#">View Mockup</a></li>
			</ul>
		</div>
		<div class="row"> 
			<p>Le Belhamy</p>
			<ul>
				<li><a href="#">Edit</a></li>
				<li><a href="#">Delete</a></li>
				<li><a href="#">View Mockup</a></li>
			</ul>
		</div>
	</div>
	<div class="add-project">
		<a href="#">Add Project</a>
	</div>
</section>
<section>
	<h1>Screen 2: Mockup</h1>
	<div class="block-row">
		<div class="row"> 
			<p>Le Belhamy V1</p>
			<ul>
				<li><a href="#">Edit</a></li>
				<li><a href="#">Delete</a></li>
				<li><a href="#">View Mockup</a></li>
			</ul>
		</div>
		<div class="row"> 
			<p>Le Belhamy V1</p>
			<ul>
				<li><a href="#">Edit</a></li>
				<li><a href="#">Delete</a></li>
				<li><a href="#">View Mockup</a></li>
			</ul>
		</div>
	</div>
	<div class="add-project">
		<a href="#">Add Mockup</a>
	</div>
</section>
<section>
	<h1>Screen 3: View Mockup</h1>
	<p>Project: Le Belhamy</p>
	<p>Version: 1</p>
	<h2>HTML LINKS</h2>
	<p>Home: <a href="http://coffeemugvn.net/mockup/lb/v1/home">http://coffeemugvn.net/mockup/lb/v1/home</a></p>
	<p>About Us: <a href="http://coffeemugvn.net/mockup/lb/v1/about-us">http://coffeemugvn.net/mockup/lb/v1/about-us</a></p>
</section>
<section>
	<h1>Screen 4: Edit/Add Mockup</h1>
	<p>Project: Dropdown to select project</p>
	<p>Version: Textfield but cannot repeat existing versions</p>
	<h2>Design Layouts</h2>
	<div class="block-row">
		<div class="row"> 
			<p>Le Belhamy V1</p>
			<p>Design file (file name)</p>
			<a href="#">Delete</a>
		</div>
		<div class="row"> 
			<p>Le Belhamy V1</p>
			<p>Design file (file name)</p>
			<a href="#">Delete</a>
			
		</div>
	</div>
	<div class="button" >
		<div class="build-link">
			<a href="#">Build HTML Links</a>
		</div>
		<div class="add-project">
			<a href="#">Add More</a>
		</div>
	</div>
	<h2>HTML LINKS BUILT SUCCESSFULLY</h2>
	<p>Home: <a href="http://coffeemugvn.net/mockup/lb/v1/home">http://coffeemugvn.net/mockup/lb/v1/home</a></p>
	<p>About Us: <a href="http://coffeemugvn.net/mockup/lb/v1/about-us">http://coffeemugvn.net/mockup/lb/v1/about-us</a></p>
</section>