<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Coffeemug Web Design - http://coffeemugvn.com">
	<!-- Style sheets -->	
	<link rel='stylesheet' href='/stylesheets/main.css' />	
	<link rel="shortcut icon" href="images/favicon.ico">
</head>

<body>
	<div id="wrapper">
		<div id="menu-left">
			<ul>
				<li><a href="#">Projects</a></li>
				<li>
					<a href="#">Mockup</a>
					<span class="add"><a href="/admin/add">Add</a></span>
				</li>
			</ul>
		</div>
		<div id="main-right">
			{% block body %}
		</div>
	</div><!--#wrapper-->	
</body>
</html>
